*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
}

.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

img {
  width: 100%;
  height: auto;
  display: block;
}

a {
  cursor: pointer;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

body {
  width: 100%;
  font-family: "Montserrat", sans-serif;
}

.heading,
.hero,
.how_container,
.economy_container,
.steps_container,
.about_container,
.price_container,
.faq_container,
.info_container,
.footer_container {
  width: 82%;
  margin: 0 auto;
}
/* HEADER */

header {
  background-image: url(../images/header_bg.png);
  background-size: cover;
  width: 100%;
  height: 750px;
}

.heading {
  display: flex;
  justify-content: space-between;
  padding-top: 30px;
  margin-bottom: 60px;
}

.logo_slogan {
  font-size: 18px;
}

.heading_contacts {
  line-height: 60px;
}

.heading_tel {
  font-size: 32px;
  margin-right: 35px;
  color: #000;
}

.button {
  padding: 20px 30px;
  font-size: 20px;
  border-radius: 40px;
  line-height: 1;
  cursor: pointer;
}

.orange {
  background-color: #d65a27;
  color: #fff;
}

.hero h1 {
  font-size: 36px;
  font-weight: 500;
  margin: 0 0 20px;
}

.hero h2 {
  font-size: 80px;
  font-weight: 900;
  color: #00916a;
  text-transform: uppercase;
  margin: 0 0 40px;
}

.hero p {
  font-size: 22px;
}

/* HOW_SECTION & PROCEDURE*/

/* .bg_container {
  background: url(../images/how_bg.png) no-repeat;
  background-position: 100% 50%;
  z-index: 2;
} */

.how_section {
  height: 1164px;
  margin-bottom: 65px;
  /* background: url(../images/how_bg.png) no-repeat;
  background-position: 100% 0; */
}

.how_container {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-end;
  margin-bottom: 65px;
}

.procedure {
  width: 58%;
  margin-bottom: 66px;
}

.section_title {
  font-size: 48px;
  font-weight: 500;
  margin-bottom: 70px;
}

.procedure h3 {
  padding-top: 70px;
  margin: 0 0 34px;
}

.procedure_text {
  font-size: 22px;
  margin: 0 0 80px;
}

.procedure_list {
  margin: 0 0 0 88px;
}

.procedure_list_item {
  display: flex;
  height: 106px;
  align-items: center;
}

.procedure_list_item:not(:last-child) {
  margin-bottom: 24px;
}

.procedure_image {
  width: 106px;
  height: 106px;
  margin-right: 34px;
}

.procedure_description {
  font-size: 20px;
}

.procedure_time {
  margin: 0 0 84px;
}

.procedure_time_minutes,
.economy_interval_year {
  font-size: 200px;
  font-weight: 900;
  color: #d65a27;
  line-height: 0.85;
  margin: 0;
  position: relative;
  z-index: 1;
}

.minutes_text,
.year_text {
  position: absolute;
  right: 0;
  bottom: 15px;
  font-size: 28px;
  font-weight: 600;
  text-transform: uppercase;
  color: #000;
}

.procedure_time_text {
  font-size: 20px;
}

/* .procedure_time::after {
  content: "";
  display: block;
  width: 600px;
  height: 100%;
  background: url(../images/how_bg.png) no-repeat;
  background-size: contain;
  position: absolute;
  top: 100%;
  right: -10%;
} */

.how_container .button,
.economy_container .button {
  margin: 0 auto 70px;
}

.green {
  background-color: #00916a;
  color: #fff;
}

.procedure_condition {
  width: 90%;
  margin: 0 auto;
  text-align: center;
  padding: 30px 40px;
  border: solid 2px #69bb7b;
  font-size: 20px;
}

/* ECONOMY SECTION */

.economy {
  background: url(../images/economy_bg.png) #53b080 no-repeat;
  background-position: 105% 15%;
  color: #fff;
}

.economy_container {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-end;
  padding-bottom: 50px;
}

.yellow {
  background-color: #ffdf60;
}

.economy_description {
  width: 55%;
  margin-right: 100px;
  margin-bottom: 66px;
}

.economy_description h3 {
  background: none;
  color: #ffdf60;
  padding-top: 86px;
}

.economy_text {
  font-size: 22px;
  margin-bottom: 124px;
}

.economy_pig_icon {
  font-size: 26px;
  padding-left: 120px;
  position: relative;
}

.economy_pig_icon::before {
  content: "";
  display: block;
  width: 110px;
  height: 96px;
  background: url(../images/economy_pig_icon.png) no-repeat;
  background-size: contain;
  position: absolute;
  top: -50%;
  left: 0;
}

.economy_interval {
  margin-bottom: 70px;
}

.economy_interval_year {
  line-height: 0.8;
}

.year_text {
  color: #fff;
  right: -20%;
  bottom: 36px;
}

.economy_interval_text {
  font-size: 18px;
  color: #000;
}

.economy_container > .button {
  margin-bottom: 54px;
}

.economy_condition {
  width: 100%;
  margin: 0 auto;
  text-align: center;
}

.economy_condition {
  font-size: 20px;
}

/* STEPS SECTION */

.steps {
  background: #ebfdf6;
}

.steps h3 {
  padding-top: 60px;
}

.steps_list_item {
  display: flex;
}

.steps_list_item .one {
  /* margin-left: 100px; */
}

.step_number {
  position: relative;
  font-size: 160px;
  line-height: 1;
  font-weight: 900;
  margin-right: 30px;
}

.step_description {
  margin: 60px 0 0 0;
}

.step_name {
  font-size: 38px;
  font-weight: 500;
  margin-bottom: 36px;
}

.step_text,
.step_text_tel {
  font-size: 22px;
}

.step_text > a {
  display: inline-block;
  font-weight: 600;
  color: #000;
  border-bottom: 1px solid #53b080;
  margin-bottom: 24px;
}

.step_text_tel > a {
  display: inline-block;
  color: #000;
  font-size: 38px;
  padding: 20px 0;
}
